.contact-container {
  width: 100%;
  background-color: var(--grey);
  position: relative;
  z-index: 1;
}
.contact-big-g {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url("./../images/grey-svg-g.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1500px;
  opacity: 0.03;
  z-index: -1;
}
.page-header-contact {
  width: 100%;
  height: 406px;
  background-image: url("./../images/images/mobile/headers_mobile/header_mobile_6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-grid {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 160px);
}
.contact-grid h3 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}
.contact-grid p {
  text-align: center;
}
.contact-grid div {
  margin: auto;
}
.contact-grid span {
  font-weight: bold;
}
.contact-form {
  width: 100%;
  margin-top: 20px;
}
.contact-form-div {
  width: 250px;
  margin: auto;
  padding-bottom: 50px;
}
.contact-form h2 {
  color: var(--darkBlue);
  font-size: 16px;
  padding-top: 20px;
}
.wpcf7 input {
  height: 30px;
  padding: 0;
}
.wpcf7 form {
  width: 100%;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea[name="your-message"] {
  width: 100%;
  font-size: 15px;
  border: 0;
  box-sizing: border-box;
  padding: 10px;
}
.wpcf7 textarea {
  border: none;
  padding: 0;
  resize: none;
  box-sizing: border-box;
}

.wpcf7 input[type="submit"] {
  width: max-content;
  height: 30px;
  background-color: white;
  float: right;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
}

.wpcf7 input[type="text"]::placeholder,
.wpcf7 input[type="email"]::placeholder,
.wpcf7 textarea::placeholder {
  font-size: 12px;
}
.contact-bird-img {
  display: none;
}
.contact-desktop-divider {
  display: none;
}
@media (min-width: 1025px) {
  .page-header-contact {
    width: 100%;
    height: 406px;
    background-image: url("./../images/images/desktop/headers_desktop/header_desktop_6.jpg");
  }
  .contact-desktop-divider {
    display: block;
    width: 100%;
    height: 140px;
    background-color: var(--darkBlue);
  }
  .contact-big-g {
    background-size: 4500px;
  }
  .contact-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 350px);
  }
  .contact-grid h3 {
    font-size: 28px;
    line-height: 35px;
  }
  .contact-grid p {
    font-size: 25px;
    line-height: 30px;
  }
  .contact-grid div {
    position: relative;
  }
  .contact-bird-img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("./../images/bird1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    left: -50px;
  }
  /* contact form */

  .contact-form {
    margin-top: 20px;
  }
  .contact-form-div {
    width: 800px;
    margin: auto;
    padding-bottom: 50px;
  }
  .contact-form h2 {
    color: var(--darkBlue);
    font-size: 24px;
    padding-top: 20px;
  }
  .wpcf7 input {
    height: 50px;
    padding: 0;
  }
  .wpcf7 form {
    width: 100%;
  }
  .wpcf7 input[type="text"],
  .wpcf7 input[type="email"],
  .wpcf7 textarea[name="your-message"] {
    width: 100%;
    font-size: 15px;
    border: 0;
    box-sizing: border-box;
    padding: 10px;
  }
  .wpcf7 textarea {
    border: none;
    padding: 0;
    resize: none;
    box-sizing: border-box;
  }

  .wpcf7 input[type="submit"] {
    width: max-content;
    background-color: white;
    float: right;
    padding: 8px 14px;
    font-size: 14px;
  }

  .wpcf7 input[type="text"]::placeholder,
  .wpcf7 input[type="email"]::placeholder,
  .wpcf7 textarea::placeholder {
    font-size: 14px;
  }
}
