.footer {
  position: static;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--darkBlue);
  padding: 0;
  margin: 0;
  font-family: Avenir Next Condensed;
  font-style: normal;
  font-weight: normal;
  color: white;
}

.footer_logo {
  width: 17vw;
  margin: 0;
}

.footer_parts {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  width: calc(100vw/3);
}

.footer_parts:first-child {
  padding: 0 0 10px 40px;
}

.footer_parts:nth-child(2) {
  justify-content: flex-end;
  align-items: center;
}

.footer_list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 6vw;
}

.footer_list_item {
  font-size: 16px;
  margin: 0 10px 10px 0;
}

.footer_list_item a {
  color: white;
}

.footer_list_item a:hover {
  color: gainsboro;
}

.footer_copy {
  margin: 0;
  margin-left: 6vw;
  line-height: 40px;
}

.footer_social {
  margin: 0 0 18px 0;
  padding: 0;
}

.footer_social_item {
  margin: 2vw;
}

.footer_social_item_images {
  width: 50px;
}

.footer_info {
  color: white;
  font-size: 12px;
  margin: 0 1.5vw;
}

.footer_info:hover {
  color: gainsboro;
}

.footer_flower {
  width: 30vw;
  align-self: flex-end;
}

