.front_page:nth-child(1n) {
  background-color: #e0e0e0;
}

.front_page:nth-child(2n+1) {
  background-color: #c4c4c4;
}

.front_page:nth-child(3n+2) {
  background-color: #a4a4a4;
}

.front_page:nth-last-child(0n) {
  background-color: #e0e0e0;
}

.front_page_header {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 75vh;
  padding: 0 5vw;
  overflow: hidden;
}

.front_page_motto {
  position: absolute;
  font-family: Minion Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 47px;
  color: var(--lightPink);
  text-align: left;
  height: 40vh;
  width: 81vw;
}

.front_page_button {
  position: absolute;
  bottom: 20vh;
}

.front_page_image {
  top: 90px;
  left: 0;
  height: 75vh;
  z-index: -1;
}

.front_page_event_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: var(--darkBlue);
}

.front_page_event_text {
  font-family: Minion Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: var(--white);
}

