.front_page_header {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 5vw;
  overflow: hidden;
}
.front_page_motto {
  font-family: Minion Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: var(--white);
  text-align: left;
  height: auto;
}

.front_page_motto_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--darkBlue);
  width: 90vw;
  height: auto;
  padding: 5vh 5vw;
}
.front_page_image {
  width: 100vw;
}

.front_page_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.front_page_infobar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 84vw;
  height: 9vh;
  padding: 3vh 8vw;
  background-color: var(--grey);
}
.front_page_infobar_text {
  color: var(--darkGreen);
  font-size: 16px;
  line-height: 19px;
}
.front_page_infobar_image {
  height: 80%;
}
.front_page_event {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 50vh;
  background-color: #e0e0e0;
  padding: 0;
}
.front_page_event_content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  width: calc(100vw - 40px);
  height: calc(50vh - 60px);
  margin: auto;
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.front_page_event_header {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 0;
  min-width: 50vw;
}
.front_page_event_title {
  width: 100%;
  margin: 1vh 0 1vw 0;
  padding: 0 0 0 0;
  font-size: 27px;
  line-height: 32px;
  border-bottom: 2px solid var(--darkGreen);
}
.front_page_event_date {
  width: auto;
  margin: 0;
  font-size: 15px;
  line-height: 32px;
}
.front_page_event_info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 44vw;
  padding: 0 10px;
}
.front_page_event_desc {
  width: 100%;
  font-size: 16px;
  line-height: 19px;
}
.front_page_event_button {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 5px 23px;
  margin: 29px 0 0 0;
  border-radius: 25px;
  background-color: var(--white);
  transition-duration: 0.5s;
  color: var(--darkGreen);
  text-align: center;
  text-transform: uppercase;
}
.front_page_event_button:hover {
  cursor: pointer;
  color: var(--darkGreen);
  text-decoration: none;
}
.front_page_event_tag {
  margin: auto;
  color: var(--darkGreen);
}
.front_page_event_tag:hover {
  color: var(--darkBlue);
}
.front_page_event_image {
  position: relative;
  width: auto;
  height: 100%;
  opacity: 0.8;
}
.front_page_event_image_container {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100%;
}
.front_page_event_upper_header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 35vh;
  padding: 5vh 5vw;
  background-color: var(--darkGrey);
  color: var(--white);
}
.front_page_event_upper_header_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}
.front_page_event_upper_header_text {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--white);
}
.front_page_walls {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--white);
}
.front_page_walls_button {
  background-color: var(--grey);
}
.front_page_walls_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 90vw;
  padding: 5vw 8vw;
}
.front_page_walls_info_title {
  color: var(--darkGreen);
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.front_page_walls_info_text {
  color: var(--darkGreen);
}
.front_page_walls_image {
  width: 100%;
}
.front_page_walls_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.front_page_trivia {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--darkGreen);
  width: 96vw;
  height: 100vw;
  padding: 0 2vw;
}
.front_page_trivia_title {
  color: var(--white);
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
}
.front_page_trivia_text {
  text-align: center;
  color: var(--white);
  font-size: 20px;
  line-height: 24px;
}

.showOnDesktop {
  display: none;
}

@media (min-width: 1025px) {
  .hideOnDesktop {
    display: none;
  }

  .showOnDesktop {
    display: inherit;
  }

  .front_page_header {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    height: auto;
  }
  .front_page_image {
    width: 100%;
  }
  .front_page_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vw;
  }
  .front_page_motto {
    font-family: Minion Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 64px;
    color: var(--white);
    text-align: left;
    height: auto;
    margin-bottom: 10px;
  }
  .front_page_motto_container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: var(--darkBlue);
    width: 40vw;
    height: calc((50vw * 0.903) - 13vw);
    padding: 3vw 5vw 10vw 5vw;
  }
  .front_page_button {
    margin: 0;
  }
  .front_page_infobar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 84vw;
    height: 9vh;
    padding: 3vh 8vw;
    background-color: var(--grey);
  }
  .front_page_infobar_text {
    color: var(--darkGreen);
    font-size: 16px;
    line-height: 19px;
  }
  .front_page_infobar_image {
    height: 80%;
  }
  .front_page_event {
    display: flex;
    flex-flow: column nowrap;
    width: 30vw;
    height: 82vh;
    background-color: #eeeeee;
  }
  .front_page_event_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 110vh;
    padding: 2vh 5vw;
    background-color: var(--darkGreen);
  }
  .front_page_event_container_title {
    color: var(--white);
  }
  .front_page_event_inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100vw;
  }
  .front_page_event_image_container {
    position: static;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 38vh;
  }
  .front_page_event_content {
    justify-content: flex-start;
    position: static;
    background-color: rgba(0, 0, 0, 0);
    width: 26vw;
    height: 30vh;
    padding: 5vh 2vw;
  }
  .front_page_event_header {
    min-width: 0;
    width: 100%;
    margin: 0 0 2vh 0;
  }
  .front_page_event_footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .front_page_event_desc {
    height: 15vh;
  }
  .front_page_walls {
    display: flex;
    flex-flow: row-reverse nowrap;
    background-color: var(--darkBlue);
  }
  .front_page_walls_button {
    background-color: var(--grey);
    margin: 0;
  }
  .front_page_walls_info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 40vw;
    padding: 5vw 5vw;
    width: 40vw;
  }
  .front_page_walls_info_title {
    color: var(--white);
    font-weight: bold;
    font-size: 32px;
    line-height: 29px;
  }
  .front_page_walls_info_text {
    color: var(--white);
    font-size: 26px;
  }
  .front_page_walls_image {
    width: 100%;
  }
  .front_page_walls_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
  }
  .front_page_trivia {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--darkGreen);
    width: 96vw;
    height: 30vh;
    padding: 0 2vw;
  }
  .front_page_trivia_title {
    color: var(--white);
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
  }
  .front_page_trivia_text {
    text-align: center;
    color: var(--white);
    font-size: 22px;
    line-height: 24px;
    width: 50%;
  }
}
