.page-header-history {
  width: 100%;
  height: 406px;
  background-image: url("./../images/images/mobile/headers_mobile/header_mobile_4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
