body {
  margin-top: 112px;
}

.navbarnew {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100vw;
  height: 90px;
  background-color: var(--white);
  z-index: 20;
}
.navbar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 13px;
  z-index: 50;
}
#logo {
  width: 150px;
}

#logo path {
  fill: var(--darkBlue);
}

.burger-menu {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu-bar {
  height: 2.5px;
  width: 40px;
  background-color: var(--darkBlue);
  border-radius: 2px;
  transition: all 0.2s ease;
}

.burger-menu-bar::after,
.burger-menu-bar::before {
  content: "";
  position: absolute;
  height: 2.5px;
  width: 40px;
  background-color: var(--darkBlue);
  border-radius: 2px;
  transition: transform 0.2s ease;
}

.burger-menu-bar::after {
  transform: translateY(12.5px);
}

.burger-menu-bar::before {
  transform: translateY(-12.5px);
}

/* ANIMATION */

.burger-menu.open .burger-menu-bar {
  background-color: transparent;
}
.burger-menu.open .burger-menu-bar::after {
  transform: rotate(45deg);
}
.burger-menu.open .burger-menu-bar::before {
  transform: rotate(-45deg);
}

/* MENU_SLIDER */

.slider-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 90px);
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
  left: 100%;
}
.links-container {
  z-index: 10;
}
.links-container ul {
  position: absolute;
  top: 30px;
  list-style-type: none;
  color: black;
  z-index: 10;
}
.slider-menu ul li {
  transition: all 0.3s ease-in-out;
  padding: 10px;
}
.slider-menu ul li a {
  color: var(--darkBlue);
  text-transform: uppercase;
}
.menu-slider-open {
  left: 0;
}
.menu-dropdown {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 150px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  padding-left: 20px;
}

.menu-dropdown ul {
  position: absolute;
  list-style-type: none;
  color: black;
}
.menu-dropdown li {
  padding: 10px;
}

.dropdown-down-children {
  transform: translateY(30px);
  opacity: 1;
  z-index: 100;
}
.dropdown-down-parents {
  transform: translateY(130px);
}
.dropdown-up {
  transform: translateY(0);
}

.flex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 0;
}
.slider-bird {
  position: absolute;
  bottom: 0;
  width: 350px;
  height: 350px;
  z-index: 0;
}

#slider-big-g {
  position: absolute;
  top: 25%;
  width: 95%;
  z-index: -2;
}

.desktop-menu {
  display: none;
}

@media (min-width: 1025px) {
  .mobile-container {
    display: none;
  }

  .slider-menu {
    display: none;
  }

  #logo path {
    fill: black;
  }

  .desktop-menu {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desktop-menu ul {
    position: absolute;
    list-style-type: none;
    color: black;
    margin-bottom: 0;
    right: 17px;
  }
  .desktop-menu ul li {
    display: inline;
    padding: 10px;
  }
  .desktop-menu ul li a {
    color: black;
    text-transform: uppercase;
  }
}
