.filters{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  &_items {
    color: var(--darkGreen);
    &:hover {
      text-decoration: none;
      font-weight: 500;
      color: black;
    }
  }

  &_container {
    margin: 10px 5px;
  }
}

.new_event{
  display: flex;
  flex-flow: row-reverse nowrap;
  width: 100vw;
  height: 35vh;
  background-color: #E0E0E0;
  padding: 0;


  &:nth-child(1n) {
    background-color: var(--grey);
  }

  &:nth-child(2n) {
    background-color: var(--darkGrey);
  }

  &_content {
    width: 50vw;
    margin: auto;
  }


  &_header {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 0 10px;
    width: 44vw;
    margin: auto;
  }

    &_title {
      width: 100%;
      margin: 1vh 0 1vw 0;
      padding: 0 0 0 0;
      font-size: 27px;
      line-height: 32px;
      border-bottom: 2px solid var(--darkGreen);
    }

    &_date {
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0 0 2px 0;
      line-height: 32px;
      border-bottom: 2px solid var(--darkGreen);
    }

    &_desc {
      margin: 10px calc(2vw + 10px);
      font-size: 13px;
      line-height: 16px;
    }

    &_footer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin: 0 2vw;
    }

    &_button {
      width: 40vw;
      padding: 5px 10vw;
      border-radius: 25px;
      background-color: var(--lightPink);
      transition-duration: 0.5s;
      color: var(--darkGreen);
      text-align: center;

      &:hover {
        background-color: var(--darkPink);
        color: var(--darkGreen);
        text-decoration: none;
      }
    }

    &_tag{
      color: var(--darkGreen);
      &:hover {
        color: var(--darkBlue);
      }
    }
    &_image {
      position: relative;
      top: 0;
      width: auto;
      height: 100%;

      &_container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 50vw;
        height: auto;
      }

    }
  }


.preview{

  &_container{
    margin: 0;
    padding: 0;
    min-height: 30vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
  }
}

.showOnDesktop {
  display: none;
}

@media (min-width: 1025px) {

  .new_event{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 48vw;
    height: 60vh;
    background: rgba(255, 255, 255, 0.3);
    padding: 0;
    margin: 1vw;


    &:nth-child(1n) {
      background: rgba(255, 255, 255, 0.3);
    }

    &:nth-child(2n) {
      background: rgba(255, 255, 255, 0.3);
    }

    &_header {
      flex-flow: column nowrap;
      width: 48vw;
    }

    &_title {
      padding: 0;
      margin: 0;
      width: 100%;
    }

    &_image {
      position: relative;
      top: -25%;
      width: 100%;
      height: auto;

      &_container {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 48vw;
        height: 30vh;
      }

    }
  }

  .preview{

    &_container{
      margin: 0;
      padding: 0;
      min-height: 30vh;
      width: 100vw;
      display: flex;
      flex-flow: row wrap;
      background-color: var(--grey);
    }
  }

  .showOnDesktop {
    display: block;
  }
}
