.background_logo {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.filters{
  margin: 0;
  padding: 25px 0 0 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;


  &_items {
    color: var(--white);
    font-size: 13px;
    &:hover {
      text-decoration: none;
      font-weight: 500;
      color: black;
    }
  }

  &_container {
    text-align: center;
    padding: 30px 18px;
    background-color: var(--darkBlue);
    color: var(--white);
  }
}

.event{
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 50vh;
  background-color: #E0E0E0;
  padding: 0;

  &_content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    width: calc(100vw - 40px);
    height: calc(50vh - 60px);
    margin: auto;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.5);
  }


  &_header {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 0;
    min-width: 50vw;
  }

    &_title {
      width: 100%;
      margin: 1vh 0 1vw 0;
      padding: 0 0 0 0;
      font-size: 27px;
      line-height: 32px;
      border-bottom: 2px solid var(--darkGreen);
    }

    &_date {
      width: auto;
      margin: 0;
      font-size: 15px;
      line-height: 32px;
    }

    &_info {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 44vw;
      padding: 0 10px;
    }

    &_desc {
      width: 100%;
      font-size: 16px;
      line-height: 19px;
    }

    &_button {
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      padding: 5px 23px;
      margin: 29px 0 0 0;
      border-radius: 25px;
      background-color: var(--white);
      transition-duration: 0.5s;
      color: var(--darkGreen);
      text-align: center;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        color: var(--darkGreen);
        text-decoration: none;
      }
    }

    &_tag{
      margin: auto;
      color: var(--darkGreen);
      &:hover {
        color: var(--darkBlue);
      }
    }
    &_image {
      position: relative;
      width: 100%;
      height: initial;
      opacity: 0.8;

      &_container {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100vw;
        height: 100%;
      }
    }
  }


.preview{

  &_container{
    margin: 0;
    padding: 0;
    min-height: 30vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--grey);
  }
}


.single_event {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--grey);

  &_back {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 50vw;
    &_link {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: var(--darkBlue);
      &_image {
        margin: 0 10px;
      }
    }
  }

  &_image {
    width: 100vw;
    margin: 0;
  }

  &_header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    width: calc(100vw - 60px);
    padding: 10px 30px;
    color: var(--white);
    background-color: var(--darkBlue);
  }

  &_desc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    min-height: calc(35vh - 40px);
    padding: 20px 10px;
  }

  &_footer {
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: #C4C4C4;

    &_item{
      margin: 12px;
    }
  }
}

// .page_header_program {
//   width: 100%;
//   height: 406px;
//   background-color: #9ba8a6;
//   position: relative;
//   overflow: hidden;

// & div:first-child {
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-image: url("./../images/grey-big-g.svg");
//   background-repeat: no-repeat;
//   background-position: center;
//   opacity: 1;
// }
// & div:last-child {
//   position: absolute;
//   bottom: -150px;
//   width: 100%;
//   height: 100%;
//   background-image: url("./../images/bird1.png");
//   background-repeat: no-repeat;
//   background-size: 260px;
// }
// & h2 {
//   position: absolute;
//   width: 100%;
//   height: auto;
//   color: white;
//   text-align: center;
//   top: 45%;
//   font-size: 40px;
// }
// }

.page_header_program {
  width: 100%;
  height: 406px;
  background-color: #9ba8a6;
  position: relative;
  overflow: hidden;
}

.page_header_program div:first-child {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("./../images/grey-big-g.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}
.page_header_program div:last-child {
  position: absolute;
  bottom: -150px;
  width: 100%;
  height: 100%;
  background-image: url("./../images/bird1.png");
  background-repeat: no-repeat;
  background-size: 260px;
}
.page_header_program h2 {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  top: 45%;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.showOnDesktop {
  display: none;
}

@media (min-width: 1025px) {

  .filters{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: space-between;


    &_items {
      color: var(--white);
      font-size: 13px;
      margin: 0 calc(100vw/24);
      &:hover {
        text-decoration: none;
        font-weight: 700;
        color: var(--white)
      }
    }

    &_container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      width: calc(100vw - 36px);
      padding: 30px 18px;
      background-color: var(--darkBlue);
      color: var(--white);
    }
  }

  .event{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 48vw;
    height: 80vh;
    background: rgba(255, 255, 255, 0.3);
    margin: 1vw;



    &:nth-child(1n + 2){
      margin: 0 1vw;
    }

    &:last-child {
      margin: 0 1vw 1vw 1vw;
    }

    &_image {
      position: relative;
      width: 100%;
      height: initial;
      opacity: 1;

      &_container {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 48vw;
        height: 41.5%;
      }
    }

    &_header {
      flex-flow: column nowrap;
      width: 48vw;
    }

    &_title {
      display: flex;
      align-items: center;
      height: 50px;
      padding: 0 20px;
      margin: 0;
      width: 100%;
    }

    &_info {
      margin: 10px 0;
    }

    &_date {
      padding: 0 20px;
    }

    &_location {
      display: block;
    }

    &_tag{
      display: block;
      margin: auto;
      color: var(--darkGreen);
      &:hover {
        color: var(--darkBlue);
      }
    }

    &_content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      position: static;
      width: 48vw;
      height: 35vh;
      margin: 0 0 auto 0;
      padding: 0;
      background-color: rgba(255, 255, 255, 0);
    }

    &_desc {
      min-height: 60%;
      width: 30vw;
      padding: 0 20px;
      font-size: 16px;
      line-height: 26px;
      flex-grow: 1;
    }

    &_button {
      margin: 0 20px;
      padding: 5px 23px;
      max-height: 20px;
    }

    &_footer {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 30px 0;
      width: 100%;
    }
  }

  .preview{

    &_container{
      padding: 4vh 0 0 0;
      min-height: 30vh;
      width: 100vw;
      display: flex;
      flex-flow: row wrap;
      background-color: var(--grey);
    }
  }

  .background_logo {
    position: absolute;
    height: 200%;
    width: 100%;
    opacity: 1;
  }

  .single_event {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--grey);
    background-image: url("./../images/grey-big-g.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;

    &_back {
      display: flex;
      align-items: center;
      height: 5vh;
      width: 50vw;
      &_link {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: var(--darkBlue);
        &_image {
          margin: 0 10px;
        }
      }
    }

    &_image {
      width: 100vw;
      margin: 0;


      &_container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 45vh;
      }
    }

    &_header {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-self: flex-start;
      width: calc(100vw - 60px);
      height: 15vh;
      padding: 10px 30px;
      color: var(--white);
      background-color: var(--darkBlue);
      box-shadow: 0px 2px 2px 1px black;
      z-index: 2;
    }

    &_desc {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: auto;
      min-height: calc(35vh - 40px);
      background-color: var(--white);
      padding: 20px 10px;
      z-index: 1;
    }

    &_footer {
      width: 100vw;
      height: 25vh;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-evenly;
      background-color: var(--grey);

      &_item{
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        margin: 0;

      }
    }
  }

  .hideOnDesktop {
    display: none;
  }
}
