languages
mu-plugins
plugins/*
!plugins/index.php
upgrade
uploads
wordpress

.DS_Store

node_modules
vendor
.env

.DS_Store
.DS_Store
public/themes/gatenhielmska/assets/.DS_Store
public/themes/gatenhielmska/assets/images/.DS_Store
public/themes/gatenhielmska/assets/images/.DS_Store
