/* WordPlate */
:root{
  --lightPink: #FFEDE9;
  --darkBlue: #12495F;
  --darkGreen: #112E33;
  --darkPink: #EDC8BF;
  --white: #FFFFFF;
}

* {
  font-family: Avenir Next Condensed;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

a {
  text-decoration: none;
}

.event{
  display: flex;
  flex-flow:column nowrap;
  width: 70vw;
  padding: 2vw;
  background: var(--darkBlue);
  box-shadow: 0px 0px 5px;

  &_title{
    color: white;
  }

  &_image{
    max-width: 40vw;

  }
}

.filters{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  &_items {
    color: var(--darkGreen);
    &:hover {
      text-decoration: none;
      font-weight: 500;
      color: black;
    }
  }

  &_container {
    margin: 10px 5px;
  }
}

.new_event{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 94vw;
  height: 30vh;
  background-color: #E0E0E0;
  padding: 1.5vh 3vw;


  &:nth-child(1n) {
    background-color: #e0e0e0;
  }

  &:nth-child(2n + 1) {
    background-color: #c4c4c4;
  }

  &:nth-child(3n + 2) {
    background-color: #a4a4a4;
  }

  &:nth-last-child(0n){
    background-color: #e0e0e0;
  }


  &_header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }

    &_title {
      margin: 0 2vw;
      padding: 0 10px 2px 0;
      font-size: 27px;
      line-height: 32px;
      border-bottom: 2px solid var(--darkGreen);
    }

    &_date {
      margin: 0 2vw;
      padding: 0 0 2px 0;
      line-height: 32px;
    }

    &_desc {
      margin: 10px 2vw;
    }

    &_footer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin: 0 2vw;
    }

    &_button {
      width: 40vw;
      padding: 5px 10vw;
      border-radius: 25px;
      background-color: var(--lightPink);
      transition-duration: 0.5s;
      color: var(--darkGreen);
      text-align: center;

      &:hover {
        background-color: var(--darkPink);
        color: var(--darkGreen);
        text-decoration: none;
      }
    }

    &_tag{
      color: var(--darkGreen);
      &:hover {
        color: var(--darkBlue);
      }
    }
  }




.front_page{
  &:nth-child(1n) {
    background-color: #e0e0e0;
  }

  &:nth-child(2n + 1) {
    background-color: #c4c4c4;
  }

  &:nth-child(3n + 2) {
    background-color: #a4a4a4;
  }

  &:nth-last-child(0n){
    background-color: #e0e0e0;
  }

  &_header {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 75vh;
    padding: 0 5vw;
    overflow: hidden;
  }

  &_motto {
    position: absolute;
    font-family: Minion Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 47px;
    color: var(--lightPink);
    text-align: left;
    height: 40vh;
    width: 81vw;
  }

  &_button {
    position: absolute;
    bottom: 20vh;
  }

  &_image {
    top: 90px;
    left: 0;
    height: 75vh;
    z-index: -1;
  }

  &_event {
    &_header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 12vh;
      background-color: var(--darkBlue);

    }
    &_text {
      font-family: Minion Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      color: var(--white);
    }
  }
}

.preview{

  &_container{
    margin: 0;
    padding: 0;
    min-height: 30vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
  }
}


.active {
  color: var(--darkBlue);
  font-weight: 600;
}
